
/*Team-Social (Temporary)*/
.team-social {
    margin-bottom: 0;
}

.team-social li {
    padding: 0 2px;
}

.team-social li a {
    font-size: 14px;
    padding: 6px 4px;
    text-align: center;
    border-radius: 50% !important;
}

.team-social li i {
    min-width: 20px;
}

.team-social li a:hover {
    text-decoration: none;
}

.team-social li a.fb:hover {
    color: #fff;
    background: #4862a3;
}

.team-social li a.tw:hover {
    color: #fff;
    background: #159ceb;
}

.team-social li a.gp:hover {
    color: #fff;
    background: #dc4a38;
}

/*Call To Axtion v2
------------------------------------*/
.call-action-v2 {
    padding: 50px 0;
    text-align: center;
    background: url(../../img/patterns/16.png);
}

.call-action-v2 h2 {
    font-size: 22px;
    text-transform: uppercase;
}

.call-action-v2 p {
    padding: 0 100px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .call-action-v2 p {
        padding: inherit;
    }
}